.Board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.Square button {
    width: 6vh;
    height: 6vh;
    background-color: #1b1b1b;
    border-color: #6a6a6a;
    border-radius: 1vh;
    margin: 0.5vh;
    
}