.Board {
    display: grid;
    grid-template-columns: repeat(16, 0fr);
    margin: 1vh;
}

@media (max-width: 800px) {
    .Board {
        width: 100vw;
        max-width: 100vw;
    }
    .Square button {
        width: 3vw;
        height: 3vw;
        border-radius: 0.5vw;
    }
}

@media (max-width: 600px) {
    .Square button {
        width: 4vw;
        height: 4vw;
        border-radius: 0.5vw;
    }
}

@media (max-width: 400px) {
    .Square button {
        width: 5vw;
        height: 5vw;
        border-radius: 0.4vw;
    }
}
